@model bdd.workshop.calculator.web.Models.Calculator

@{ 

    ViewBag.Title = "Calculate!";
}

<h2>Do an Operation</h2>
@using (Html.BeginForm("Operate","Calculator"))
            {                       
<fieldset>
        <div class="container-calc">
            <div class="input-container-calc">
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.A.TheNumber, new { placeholder = "Number 1" })
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Command, new { placeholder = "Operator" })
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.B.TheNumber, new { placeholder = "Number 2" })
                </div>
                <!--<input type="text" id="result" placeholder="Resultado" readonly>-->
            </div>
            <div class="result-container-calc">
                <button type="button" class="btn-calc" onclick="calculate('+')">+</button>
                <button type="button" class="btn-calc" onclick="calculate('-')">-</button>
                <button type="button" class="btn-calc" onclick="calculate('x')">x</button>
            </div>
            <div class="result-container-calc">
                <button type="button" class="btn-calc" onclick="calculate('/')">/</button>
                <button type="button" class="btn-calc" onclick="calculate('sqrt')"><sup>2</sup>&radic;</button>
                <button type="button" class="btn-calc" onclick="calculate('^')">x<sup>&#8319;</sup></button>
				<!--<button type="button" class="btn-calc" onclick="calculateResult()">=</button>-->
            </div>
            <div class="result-container-calc">
                <button type="button" class="btn-calc" onclick="calculate('root')"><sup>n</sup>&radic;</button>
                <button type="button" class="btn-calc" onclick="clearAll()">AC</button>
                <input type="submit" class="btn-calc" value="=" />
            </div>
        </div>
</fieldset>
               
            }